/*
.padding-left-right-3p {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.padding-left-right-6p {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}
*/
.flex-column { flex-direction: column; }

.flex-row { flex-direction: column; }

.align-center { align-items: center; }

@media screen and (min-width: $medium-width) {
  .flex-row { flex-direction: column; }
}

@media screen and (min-width: $high-width) {
  .flex-row { flex-direction: row; }
}