.align-center { align-items: center; }

.flex-content-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ptb100 {
  padding-top : 30px;
  padding-bottom: 30px;
}

.flex-row-between { 
  @extend %flexbox-row-wrap;
  gap: 20;
  justify-content: space-between;
  align-items: center;
}

.flex-content-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media screen and (min-width: $medium-width) {
  .flex-row { flex-direction: column; }

  .flex-content-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (min-width: $high-width) {
  .flex-row { flex-direction: row; }

  .flex-content-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}