/*
.panel { 
  @extend %flexbox-row-wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 70%;

  background-color: $color-white;
  border: 1px solid $color-border-card;

  
}
*/
.form {   
  @extend %flexbox-column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: $color-white;
  border: 1px solid $color-border-card;
}

.panel {
  @extend %flexbox-column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $color-white;
}

.input-group {
  margin-top: 4px;
  margin-bottom: 4px;
  //padding-bottom: 2px;
  //position: relative;
  padding: 2px;
}

.form-label {
  display: block;
  margin-bottom: 7px;

  font-weight: 700;
}

.form-control {
  display: block;
  padding: 7px;
  width: 100%;

  border-radius: 5px;
  border: 2px solid $background-color-input;
}

.input-group a {
  text-align: center;
  //pointer-events: none;
  &:hover {
    color: $color-white;
  }
}

.w80 { width: 80%; }

.w100 { width: 96%; }

.w50 { width: 98%; }

.w40 { width: 92%; }

.form-filter {
  display: block;
  padding: 7px;
  width: 150px;

  border-radius: 5px;
  border: 2px solid $background-color-input;
}

@media screen and (min-width: $medium-width) {
  .w50 { width: 98%; }
  //.w100 { width: 90%; }
  .w40 { width: 80%; }
}

@media screen and (min-width: $high-width) {
  .w50 { width: 50%; }
  //.w100 { width: 98%; }
  .w40 { width: 70%; }
}

@media screen and (min-width: 1000) {
  .w40 { width: 40%; }
}