.logo {
  padding: 1%;
  height: 13vh;
  width: 13vh;
}

.image-title-banner {
  height: 100%;
  width: 100%;  
  object-fit: cover;
}

.icon {
  color: $color-white;
  font-size: 20px;
  text-align: center;
}

.icon-items {
  color: $color-black;
  text-align: center;
}