.logo {
  height: 13vh;
  width: 13vh;
  padding: 1%;
}

.image-title-banner {
  height: 100%;
  width: 100%;  
  
  object-fit: cover;
}

.icon {
  color: $color-white;
  font-size: 20px;
  text-align: center;
}

.icon-items {
  color: $color-black;
  text-align: center;
}

.photo {
  width: 200px;
  height: 200px;
  margin: 1%;
  padding: 1%;
}

.photo-circle { clip-path: circle(40% at center); }