@media screen and (min-width: $high-width) {

  .container {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .container-footer {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
  }

  .card-not-line { width: 30%; }

  .card { width: 40%; }
}

@media screen and (min-width: 1000) {

  .card { width: 30%; }
  
}
