<main>
  
  

  <section class="container flex-column align-center" aria-label="Detalle de Curso">

    <div>
      <h1>Dashboard</h1>
    </div>
      
    <div class="content flex-wrap ptb100">
    
      <div class="card-sm text-color-primary">
        <div class="card-head-sm">
          <i class="fa-solid fa-building-columns text-big"></i>
        </div>
        <div class="card-body-sm">
          <p class="title-weight">Cursos</p>
          <p>25</p>
        </div>
      </div>

      <div class="card-sm text-color-primary">
        <div class="card-head-sm">
          <i class="fa-solid fa-user-clock text-big"></i>
        </div>
        <div class="card-body-sm">
          <p class="title-weight">Pendientes</p>
          <p>8</p>
        </div>
      </div>

      <div class="card-sm text-color-primary">
        <div class="card-head-sm">
          <i class="fa-solid fa-user-check text-big"></i>
        </div>
        <div class="card-body-sm">
          <p class="title-weight">Matriculados</p>
          <p>8</p>
        </div>
      </div>


      <div class="card-sm text-color-primary">
        <div class="card-head-sm">
          <i class="fa-solid fa-user-graduate text-big"></i>
        </div>
        <div class="card-body-sm">
          <p class="title-weight">Aprobados</p>
          <p>10</p>
        </div>
      </div>



    </div>





  
    
  </section>
</main>