<main>
  
  <section class="container" aria-label="Detalle de Curso">


    <div class="card">

      <div class="card-head">
        <img class="image-card"  src="./assets/images/d.jpg" alt="Imagen member">
      </div>
      
      <div class="description-card">
        <p class="title-weight">Fundamentos de Programación en la diversidad Java</p>

        <div class="detail-course">
          <p>
            <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
            <span>Inicio: </span>
            15 de Junio
          </p>
          <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
          </p>
          <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
          </p>
        </div>

      </div>

      <div class="foot-card">
        <a class="text-color-black" href="./detail_course.html">Ver detalles</a>
      </div>
    </div>
  
    <div class="card">
      
      <div class="card-head">
        <img class="image-card"  src="./assets/images/b.jpg" alt="Imagen member">
      </div>

    
      <div class="description-card">
        <p class="title-weight">Programación Orientada a Objetos</p>

        <div class="detail-course">
          <p>
            <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
            <span>Inicio: </span>
            15 de Junio
          </p>
          <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
          </p>
          <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
          </p>
        </div>
        
      </div>

      <div class="foot-card">
        <a class="text-color-black" href="./detail_course.html">Ver detalles</a>
      </div>
    </div>
  
    <div class="card">
   
      <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
      </div>
      
      <div class="description-card">
        <p class="title-weight">Técnicas de estadística</p>

        <div class="detail-course">
          <p>
            <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
            <span>Inicio: </span>
            15 de Junio
          </p>
          <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
          </p>
          <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
          </p>
        </div>

      </div>

      <div class="foot-card">
        <a class="text-color-black" href="./detail_course.html">Ver detalle</a>
      </div>
    </div>


    <div class="card">
   
      <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
      </div>
      
      <div class="description-card">
        <p class="title-weight">Técnicas de estadística</p>

        <div class="detail-course">
          <p>
            <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
            <span>Inicio: </span>
            15 de Junio
          </p>
          <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
          </p>
          <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
          </p>
        </div>

      </div>

      <div class="foot-card">
        <a class="text-color-black" href="./detail_course.html">Ver detalle</a>
      </div>
    </div>

    <div class="card">
   
      <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
      </div>
      
      <div class="description-card">
        <p class="title-weight">Técnicas de estadística</p>

        <div class="detail-course">
          <p>
            <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
            <span>Inicio: </span>
            15 de Junio
          </p>
          <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
          </p>
          <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
          </p>
        </div>

      </div>

      <div class="foot-card">
        <a class="text-color-black" href="./detail_course.html">Ver detalle</a>
      </div>
    </div>
  </section>
</main>