<header class="content-flex-row padding-left-right-3p">
  <a class="" href="index.html">
    <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
  </a>

  <nav>
      <ul>
        <li class="block-inline"><a class="text-color-black" href="members.html">Inicio</a></li>
        <li class="block-inline"><a class="text-color-black" href="blog.html">Mis Cursos</a></li>
        <li class="block-inline"><a class="text-color-black" href="contact.html">Acerca de</a></li>
        <li class="block-inline"><a class="text-color-black" href="contact.html">Perfil</a></li>
        <li class="block-inline"><a class="text-color-black" href="contact.html">Acceder</a></li>
      </ul>
  </nav>
</header>