<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark bg-black">
  <a class="navbar-brand" href="#"><img src="https://picsum.photos/60/30"
            alt="Página de inicio"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conócenos<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Bienvenida</a></li>
          <li><a href="#">Quién es quién</a></li>
          <li><a href="#">Transparencia</a></li>
          <li><a href="#">Sedes</a></li>
          <li><a href="#">En el exterior</a></li>
          <li><a href="#">In Memoriam</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Temas<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Justicia</a></li>
          <li><a href="#">Familia</a></li>
          <li><a href="#">Transparencia y Regeneración</a></li>
          <li><a href="#">Economía</a></li>
          <li><a href="#">Mujer e igualdad</a></li>
          <li><a href="#">Más temas</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualidad<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Destacados</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Imágenes</a></li>
          <li><a href="#">Documentos</a></li>
          <li><a href="#">Agenda</a></li>
          <li><a href="#">Argumentos populares</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Participa<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Cómo colaborar</a></li>
          <li><a href="#">En Internet</a></li>
          <li><a href="#">Suscríbete</a></li>
          <li><a href="#">Donaciones</a></li>
          <li><a href="#">Únete</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow-sm">


    <a class="aa" href="#">
      <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
    </a>

     <button class="navbar-toggler text-color-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <span class="text-color-primary">☰</span>
    </button>      

      <div class="collapse navbar-collapse nav-flex-end" id="navbar-content">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-color-black" href="index.html">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-color-black" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Categoría</a>
            <ul class="dropdown-menu shadow">
              <li>
                <a class="dropdown-item text-color-black" href="index.html">Informática</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="index.html">Mecánica</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="index.html">Electricidad</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="index.html">Administración</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-black" href="about.html">Mis Cursos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-color-black" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Gestión</a>
            <ul class="dropdown-menu shadow">
              <li>
                <a class="dropdown-item text-color-black" href="#">Usuarios</a>
              </li>
              <li>
                <a class="dropdown-item text-color-black" href="#">Periodos</a>
              </li>
              <li>
                <a class="dropdown-item text-color-black" href="#">Categorías</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="course_management.html">Cursos</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="#">Inscripciones</a>
              </li>
              <li>
                  <a class="dropdown-item text-color-black" href="#">Aprobaciones</a>
              </li>
              <li class="dropend">
                <a href="#" class="dropdown-item dropdown-toggle text-color-black" data-bs-toggle="dropdown" data-bs-auto-close="outside">Reportes</a>
                <ul class="dropdown-menu shadow">
                  <li>
                    <a class="dropdown-item text-color-black" href="#">Inscritos</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-color-black" href="#">aprobación</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-black" href="about.html">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-black" href="profile.html">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-black" href="login.html">Acceder</a>
          </li>
          <li class="nav-item">
            <div class="nav-link text-color-black" href="login.html"><i class="fa-solid fa-circle-user"></i> Silvio Quezada
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-black text-small Sign_off" href="login.html">(Cerrar Sesión)</a>
          </li>

        </ul>
        
    </div>



</nav>
</header>

<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto float-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav> -->