<header class="header">
  <a class="" href="index.html">
    <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
  </a>

  <nav>
      <ul>
        <li class="block-inline"><a class="text-color-black" href="index.html">Inicio</a></li>
        <li class="block-inline"><a class="text-color-black" href="">Mis Cursos</a></li>
        <li class="block-inline"><a class="text-color-black" href="acerca_de.html">Acerca de</a></li>
        <li class="block-inline"><a class="text-color-black" href="">Perfil</a></li>
        <li class="block-inline"><a class="text-color-black" href="">Acceder</a></li>
      </ul>
  </nav>
</header>