<main>
  
  <section class="container flex-column align-center" aria-label="Detalle de Curso">

   
      <h1>Acceso del Usuario</h1>
  
      <form class="form w40">

        <div class="panel w100">
          <div class="input-group">
            <label class="form-label" for="username">Usuario:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
            <!-- <label>Existe un error</label> -->
          </div>
          <div class="input-group">
            <label class="form-label" for="email">Contraseña:</label>
            <input class="form-control" id="email" type="text" placeholder="Enter email">
          </div>

          <div class="input-group content-aling-center">
            <button class="button button-color-primary"><i class="fa-solid fa-paper-plane"></i> Registrarse</button>
          </div>
        </div>


  


        
      </form>
      





  
    
  </section>
</main>