<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">Nuevo Registro</label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-modal">

          <div class="panel panel-col-p100">
            
            <div class="input-group">
              <label class="form-label" for="apellidos">Código periodo:</label>
              <input class="form-control" id="apellidos" type="text" placeholder="Ingrese código">
            </div>

            <div class="input-group">
              <label class="form-label" for=anio">Año:</label>
              <select class="form-control-select" id="genero">
                <option>Seleccione un año</option>
                <option>2024</option>
                <option>2025</option>
              </select>
            </div>
            
            <div class="input-group">
              <label class="form-label" for="descripcion">Descripción:</label>
              <input class="form-control" id="descripcion" type="text" placeholder="Ingrese descripcion">
            </div>
          </div>

        </form>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" data-bs-dismiss="modal"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">Editar:</label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-modal">

          <div class="panel panel-col-p100">
            
            <div class="input-group">
              <label class="form-label" for="apellidos">Código periodo:</label>
              <input class="form-control" id="apellidos" type="text" placeholder="Ingrese código">
            </div>

            <div class="input-group">
              <label class="form-label" for=anio">Año:</label>
              <select class="form-control-select" id="genero">
                <option>Seleccione un año</option>
                <option>2024</option>
                <option>2025</option>
              </select>
            </div>
            
            <div class="input-group">
              <label class="form-label" for="descripcion">Descripción:</label>
              <input class="form-control" id="descripcion" type="text" placeholder="Ingrese descripcion">
            </div>
          </div>

        </form>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" data-bs-dismiss="modal"><i class="fas fa-save"></i> Actualizar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalBuscar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">Registro: </label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-modal">

          <div class="panel panel-col-p100">
            
            <div class="input-group">
              <label class="form-label" for="apellidos">Código periodo:</label>
              <label class="label-control"></label>
            </div>

            <div class="input-group">
              <label class="form-label" for=anio">Año:</label>
              <label class="label-control"></label>
            </div>
            
            <div class="input-group">
              <label class="form-label" for="descripcion">Descripción:</label>
              <label class="label-control"></label>
            </div>
          </div>

        </form>

 
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-rectangle-xmark"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>

<main>
  
  <section class="container" aria-label="Detalle de Curso">

      <div class="content-title">
        <h1>Listado de Periodos</h1>
      </div>
  
      <form class="form skin-form">

        
        <div class="panel panel-col-p100">

          <div class="content-column-between">
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalNuevo"><i class="fas fa-plus"></i> NUEVO</button>

            <input class="form-filter" type="text" placeholder="Buscar">
          </div>

          
          <table class="content-table">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Año</th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>IIPA 2023</td>
                <td>2023</td>
                <td>2023 Julio - Noviembre 2024</td>
                <td>
                  <div class="flex-content-right">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalBuscar"><i class="fas fa-search"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>IPA 2024</td>
                <td>2024</td>
                <td>2024 Enero - Mayo 2024</td>
                <td>
                  <div class="flex-content-right">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalBuscar"><i class="fas fa-search"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>IIPA 2024</td>
                <td>2024</td>
                <td>2024 Julio - Noviembre 2024</td>
                <td>
                  <div class="flex-content-right">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalBuscar"><i class="fas fa-search"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>


  


        
      </form>
      





  
    
  </section>
</main>