<main>
  
  <section class="container flex-column align-center" aria-label="Detalle de Curso">

   
      <h1>Regístrate</h1>
  
      <form class="form">

        <div class="panel-modal">
          <div class="input-group">
            <label class="form-label" for="username">Cédula:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
            <!-- <label>Existe un error</label> -->
          </div>
          <div class="input-group">
            <label class="form-label" for="email">Apellidos:</label>
            <input class="form-control" id="email" type="text" placeholder="Enter email">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Nombres:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Género:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Étnia</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Dirección:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
        </div>


        <div class="panel-modal">
          <div class="input-group">
            <label class="form-label" for="coment">Celular:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Correo:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="coment">Nivel de Instrucción:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="username">Usuario:</label>
            <input class="form-control" id="username" type="text" placeholder="Enter username">
          </div>
          <div class="input-group">
            <label class="form-label" for="email">Contraseña:</label>
            <input class="form-control" id="email" type="text" placeholder="Enter email">
          </div>
          <div class="input-group content-aling-center">
            <button class="button button-color-primary"><i class="fa-solid fa-paper-plane"></i> Registrarse</button>
          </div>
        </div>



        
      </form>
      





  
    
  </section>
</main>