/*
$color-primary: rgb(73 81 90);
$color-border-control: rgb(229 229 229);
$color-shading: rgb(229 229 229);
$color-yellow: rgb(245 245 0);
$color-blue: rgb(52 152 219);
*/
$color-grey: rgb(73 81 90);
$color-white: rgb(255, 255, 255);
$color-text: rgb(67 67 67);
$color-border-card: rgb(229 229 229);
$color-black: rgb(0, 0, 0);